<!DOCTYPE HTML>
<head>
	<% idea=@ideas[@number.to_i]%>
	<title>Edit idea</title>
	<link rel="stylesheet" type="text/css" href="/idea_app.css">
</head>
<body>
	<div class="picture-header">
		<div class="title">Idea app</div>
	</div>
	<%= @header %>
	<div class="descr-text">
		On this page you can edit an existing idea. 
	</div>
	<form class="input_form" method="post">
		<table class="idea-table">
			<tr>
				<td>Idea title</td><td><input type="textarea" name="title" value="<%= @idea.title%>"/></td>
			</tr>
			<tr>
				<td>Idea description</td><td><input type="textarea" name="description" value= "<%= @idea.description.to_s %>"/></td>
			</tr>
			<tr>
				<td>Date modified</td><td><input type="textarea" name="date_modified" value= "<%= @idea.created_at.strftime(@date_format) %>"/><br></td>
			</tr>
			<tr>
				<td>Author</td><td><input type="textarea" name="author" value= "<%= @idea.author %>"/></td>
			</tr>
			<tr>
				<td><input type="submit" value="Save changes"></td>
			</tr>
		</table>
	</form>
</body> 