<!DOCTYPE HTML>
<head>
	<title>Idea app - View</title>
	<link rel="stylesheet" type="text/css" href="/idea_app.css">
</head>
<body>
	<div class="picture-header">
		<div class="title">Idea app</div>
	</div>
	<%= @header %>
	<%= @idea%>
	<div class="descr-text">
		On this page you can view a single idea. 
	</div>
	<table class="idea-table">
		<tr>
			<td><h1>Name:</h1></td>
			<td><h1><%= @idea.title%></h1></td>
		</tr>
		<tr>
			<td>Number:</td>
			<td><%= @idea.id.to_s%></td>
		</tr>
		<tr>
			<td>Date:</td>
			<td><%= @idea.created_at%></td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><%= @idea.description%></td>
		</tr>
		<tr>
			<td>Author:</td>
			<td><%= @idea.author%></td>
		</tr>
		<tr>
			<td><a href= <%="/idea/#{@idea.id.to_s}/edit.html"%> >Edit this idea</a></td>
		</tr>
		<tr>
			<td><a href= <%="/idea/#{@idea.id.to_s}/delete.html"%> >Delete this idea</a></td>
		</tr>
	</table>
<!-- 	<div class="header">
		<a href="home.html">Home</a>
		<a href="upload.html">Upload</a>
		<a href="about.html">About</a>
	</div> -->
<!-- 	<div class="descr-text">
		This is a page to view an idea in.
	</div> -->

</body>