<!DOCTYPE HTML>
<head>
	<title>Idea app - Home</title>
	<link rel="stylesheet" type="text/css" href="/idea_app.css">
</head>
<body>
	<div class="picture-header">
		<div class="title">Idea app</div>
	</div>
	<%= @header %>
	<div class="descr-text">
		This is a dynamic app to upload ideas to. 
	</div>
	<h1>New ideas from SQLite</h1>
	<table class="idea-table">
		<tr>
			<td colspan="5"><h2>List of ideas</h2></td></tr>
		<tr>
			<td><h3>Date</h3></td>
			<td><h3>Number</h3></td>
			<td><h3>Name</h3></td>
			<td><h3>Description</h3></td>
			<td><h3>Author</h3></td>
			<td></td>
		</tr>
		<tr>
			<% @ideas.each do |idea|  %>
			<tr>
				<td><%= idea["date_modified"]%></td>
				<td><a href="/idea/<%= idea["id"].to_s %>.html"><%= idea["id"]%></td>
				<td><%= idea["title"]%></td>
				<td><%= idea["description"]%></td>
				<td><%= idea["author"]%></td>
			</tr>
			<% end %>
		 </tr>
	</table>
</body>