<!DOCTYPE HTML>
<head>
	<title>Idea app - Home</title>
</head>
<body>
	<h1>Idea app</h1>
	<%= @header %>
<!-- 	<div class="header">
		<a href="index.html">Home</a>
		<a href="upload.html">Upload</a>
		<a href="about.html">About</a>
	</div> -->
	<div class="descr-text">
		This is a dynamic app to upload ideas to. 
	</div>
	<table class="idea-table">
		<tr> <td colspan="3">List of ideas</td></tr>
		<tr>
			<td>Date</td>
			<td>Number</td>
			<td>Name</td>
			<td>Description</td>
			<td></td>
		</tr>
		<tr>
			<% @ideas.each do |idea, elements|  %>
			<tr>
				<% elements["id"] = idea.to_s %>
				<td><%= elements["date_modified"]%></td>
				<td><a href="/idea/<%= elements["id"].to_s %>.html"><%= elements["id"]%></td>
				<td><%= elements["title"]%></td>
				<td><%= elements["description"]%></td>
			</tr>
			<% end %>
		 </tr>
	</table>
</body>